.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas: "header" "description" "body" "footer";

  .header {
    grid-area: header;
  }

  .description {
    grid-area: description;
    @include center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;

    &__container {
      max-width: 500px;
    }
  }

  .body {
    grid-area: body;
    text-align: center;
    height: 100%;

    .pickers {
      @include center;

      .picker {
        background: var(--dark) !important;
        color: var(--light) !important;

        svg,
        label {
          fill: var(--light) !important;
          color: var(--light) !important;

          &:hover {
            background: black !important;
          }
        }
      }
    }
  }

  .footer {
    position: relative;
    grid-area: footer;
  }
}
